

<div ng-if="$ctrl.isFailure" class="alert alert-danger" role="alert">
    <button id="close" class="close" data-dismiss="alert"></button>
    <strong id="error"></strong>{{"auth.reset_password.message.failure" | translate }}
</div>

<!--<div ng-if="$ctrl.isSuccess" class="alert alert-success" role="alert">-->
    <!--<button id="close2" class="close" data-dismiss="alert"></button>-->
    <!--<strong id="error2"></strong>{{"auth.reset_password.message.success" | translate }}-->
<!--</div>-->

<form ng-if="$ctrl.hideForm" id="form-login" name="resetPasswordForm" class="p-t-15" role="form" novalidate>
    <p class="p-t-35">{{"auth.reset_password.text.Reset_your_password" | translate}}</p>
    <div pg-form-group class="form-group form-group-default m-t-20" ng-class="{ 'has-error' : resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine }">
        <label>{{"auth.reset_password.field.password.label" | translate}}</label>
        <div class="controls"><!-- ng-pattern="phoneRE"-->
            <input type="password"
                   ng-model="$ctrl.formData.password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder='******'
                   ng-pattern="/[a-zA-Z@#_-]+[0-9]+[a-zA-Z0-9@#_-]*|[0-9]+[a-zA-Z@#_-][a-zA-Z0-9@#_-]*/"
                   ng-minlength="6"
                   ng-maxlength="20"
                   required>
        </div>
    </div>
    <label  id="passwordRequired" class="error" for="password" ng-show="resetPasswordForm.password.$error.required && !resetPasswordForm.password.$pristine">
        {{"auth.reset_password.field.password.required" | translate }}
    </label>
    <label  id="passwordInvalid" class="error" for="password" ng-show="resetPasswordForm.password.$error.pattern && !resetPasswordForm.password.$pristine">
        {{"auth.reset_password.field.password.invalid" | translate }}
    </label>

    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : resetPasswordForm.confirmPassword.$invalid && !resetPasswordForm.confirmPassword.$pristine }">
        <label> {{"auth.reset_password.field.confirm_password.label" | translate }}</label>
        <div class="controls"><!-- ng-pattern="phoneRE"-->
            <input type="password" id="confirmPassword" ng-model="$ctrl.formData.confirmPassword"
                   compare-to="$ctrl.formData.password"
                   name="confirmPassword" placeholder='******' class="form-control"
                   required>
        </div>
    </div>
    <label id="confirmPasswordRequired" class="error" for="confirmPassword" ng-show="resetPasswordForm.confirmPassword.$error.required && !resetPasswordForm.confirmPassword.$pristine">
        {{"auth.reset_password.field.confirm_password.required" | translate }}
    </label>
    <label id="confirmPasswordInvalid" class="error" for="confirmPassword" ng-show="resetPasswordForm.$error.compareTo && !resetPasswordForm.confirmPassword.$pristine">
        {{"auth.reset_password.field.confirm_password.invalid" | translate }}
    </label>


    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary btn-cons m-t-10" id="button-submit" type="submit" type="submit" ng-click="$ctrl.resetPassword()"
                    ng-disabled="resetPasswordForm.$invalid">{{"auth.reset_password.button.reset_password" | translate}}</button>

        </div>
        <div class="col-6">
            <div id="loading" ng-if="$ctrl.loading" class="progress-circle-indeterminate"></div>
        </div>
    </div>
    <!--<a class="text-info small m-t-30 fs-16 block" id="backto-signin2" ui-sref="app.auth.login" >-->
        <!--{{"auth.reset_password.text.backto_signin" | translate }}-->
    <!--</a>-->
    <br>
    <span class="text-info small fs-16" id="backto-signin" ui-sref="app.auth.login" >
        {{"auth.reset_password.text.backto" | translate }}<button class="btn btn-link p-l-5">{{"auth.reset_password.text.signin" | translate }}</button>
    </span>
</form>

<!--<div ng-if="$ctrl.isSuccess" class="reset-success text-center" style="margin-top:100px;">-->
    <!--<img src="/assets/img/sucess-icon.png" alt="">-->
    <!--<h2 class="m-b-40 m-t-40 bold">{{'auth.reset_password.text.done' | translate}}</h2>-->
    <!--<p>{{'auth.reset_password.text.weSentMessageTo' | translate}} <span class="bold fs-16" style="color:#2fd4af;">{{$ctrl.email}}</span> {{'auth.reset_password.text.pickPassword' | translate}}</p>-->
    <!--<p>{{'auth.reset_password.text.notGetEmail' | translate}} <span class="bold fs-16" style="color:#2fd4af;"><a href="#" ui-sref="app.auth.resetPassword">{{'auth.reset_password.text.tryAgain' | translate}}</a></span></p>-->
<!--</div>-->
