<div ng-if="ctrl.showDiv" class="text-center">
    <div class="logo_wrapper d-inline-block m-t-20">
        <img src="/assets/img/logo_sup.png" alt="">
    </div>


    <div>
        <img class="fruit m-t-50 m-b-50 mw-100" src="/assets/img/Bitmap3.png" alt="">
    </div>

    <div class="missing_ar m-b-30">عذرا، هذه الصفحه غير موجوده</div>

    <div class="missing_en m-b-30">
        The page you are looking for is missing
    </div>

    <h1 onclick="goBack()" class="btn btn-primary btn-cons m-t-10">Go Back</h1>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

