<div class="row">
    <div permission permission-only="'managePayments'"  class="col"><button ng-click="$ctrl.openRecordPayment()" class="btn btn-primary pull-right">
        {{'supplier.account.payment.record_payment' | translate}}
    </button>
    </div>
</div>
<br>
<div class="card">
    <div class="gray-container">
        <div class="row m-b-5">
            <div class="col"><p class="bold text-uppercase p-t-5 p-l-10 p-r-10">{{'supplier.account.payment.payments' | translate}}</p></div>
            <div class="col">
            </div>
        </div>
        <div class="card-block padding-0">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group form-group-default">
                        <label>{{'supplier.account.payment.search' | translate}}</label>
                        <input type="text" ng-model="$ctrl.searchCriteria.customerName"
                               ng-change="$ctrl.getPayments($ctrl.searchCriteria)" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group form-group-custom form-group-default form-group-default-select2">
                        <label> {{'supplier.account.payment.status' | translate}} </label>
                        <select id="status5" name="status" multiple data-disable-search="true" aria-hidden="true"
                                class="full-width select2-hidden-accessible" data-placeholder="Select Status"
                                data-init-plugin="select2"
                                placeholder="Select Status"
                                class="form-control"
                                ng-model="$ctrl.searchCriteria.status"
                                ng-change="$ctrl.onChange()"
                                required>
                            <option ng-repeat="status  in $ctrl.status" value="{{status}}">
                                {{status}}
                            </option>

                        </select>
                        <label class="error" ng-if="productForm.status.$error.required && !productForm.status.$pristine">
                            {{'supplier.product.field.status.required' | translate}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="card-block" >
            <div class="col-md-12  padding-0">
                <shimmer hide="$ctrl.paymentsIsLoaded" row="10" col="5" clipped="true"></shimmer>
                <div class="dataTables_wrapper no-footer" ng-if="$ctrl.paymentsIsLoaded">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-compact" role="grid">
                            <thead>
                            <tr role="row">
                                <th width="180">{{"supplier.account.payment.table.date" | translate }}</th>
                                <th>{{"supplier.account.payment.table.referenceId" | translate }}</th>
                                <th>{{"supplier.account.payment.table.status" | translate }}</th>
                                <th>{{"supplier.account.payment.table.customerName" | translate }}</th>
                                <th>{{"supplier.account.payment.table.amount" | translate }}</th>
                                <th>{{"supplier.account.payment.table.type" | translate }}</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in $ctrl.payments" class="gradeX odd content-table-payment cursor" role="row" ng-click="$ctrl.getPayment(item._id)">
                                <td class="mn-150 sorting_1">
                                    <span class="label upper-case">{{item.date | moment:'DD-MM-YYYY'}}</span>
                                    <span class="label upper-case">{{item.date | moment:'HH:MM A'}}</span>
                                </td>
                                <td class="mn-150 sorting_1"><span class="label upper-case">{{item.paymentId}}</span></td>
                                <td class="mn-100 sorting_1">
                                    <span ng-if="item.status === 'Approved'"
                                          class="label label-success upper-case">{{"supplier.account.payment.approved" | translate}}</span>
                                    <span ng-if="item.status === 'Pending'"
                                          class="label label-warning upper-case">{{"supplier.account.payment.pending" | translate}}</span>
                                    <span ng-if="item.status === 'Rejected'"
                                          class="label label-important upper-case">{{"supplier.account.payment.rejected" | translate}}</span>
                                </td>
                                <td class="mn-150 sorting_1">{{item.customer.representativeName}}</td>

                                <td class="mn-100 sorting_1">{{item.amount| currency:"":2}} <small>{{"supplier.account.payment.sar" | translate }}</small></td>
                                <td class="mn-120 sorting_1">
                                    <span ng-if="item.paymentMethod === 'Cash'"
                                          class="label label-success upper-case"><li class="fa fa-money"></li> {{"supplier.account.payment.cash" | translate}}</span>
                                    <span ng-if="item.paymentMethod === 'Cheque'"
                                          class="label label-info upper-case"><li class="fa pg-credit_card_line"></li> {{"supplier.account.payment.cheque" | translate}}</span>
                                    <span ng-if="item.paymentMethod === 'Bank'"
                                          class="label label-inverse upper-case"><li class="fa fa-bank"></li> {{"supplier.account.payment.bank" | translate}}</span>
                                </td>

                                <!--<td class="sorting_1"><a href=""  ui-sref="app.supplier.customer.payments-details({paymentId:item._id,payment:item})">Show Details</a></td>-->

                            </tr>
                            </tbody>
                        </table>
                        <list-pagination total-pages="$ctrl.totalPages" current-page="$ctrl.currentPage" on-page-click="$ctrl.getPage(pageNumber)"></list-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<payment-record on-save="$ctrl.addPayment(payment)" customer-flag="true"></payment-record>

<script>
    $('#status5 , #productSelect2').on('select2:open',function(){
        let that = $(this);
        let flag = false;
        if ( $(window).width() > 739) {
            $(window).bind('wheel', function(e) {
                // if(!flag && e.target.className === 'select2-results__option'){
                //     // that.select2("close");
                //     console.log('scroll');
                // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                //     that.select2("open");
                //     console.log('scroll');
                // }
            });
        }
        else {
            $(window).bind('wheel', function(e) {
                console.log(e.target);
                if(!flag && e.target.className === 'select2-results__option'){
                    // that.select2("close");
                    console.log('scroll');
                } else if(!flag &&  e.target.className !== 'select2-results__option'){
                    that.select2("close");
                    console.log('scroll');
                }
                else
                    flag = true;
            });
        }
    });
</script>


