<div class="modal fade slide-up disable-scroll payments" id="billingHistory" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <button type="button" class="close" ng-click="$ctrl.close()"><i class="pg-close fs-14"></i>
                    {{'component.record-payment.button.close' | translate}}
                </button>
                <div class="w-100 text-center">
                    <h5 ng-if="$ctrl.bill.type === 'debit'"  class="semi-bold m-t-30 m-b-10" style="font-size: 28px;font-weight: 500;">
                        {{'component.billing-history.order' | translate}}
                    </h5>
                    <h5 ng-if="$ctrl.bill.type === 'credit'" class="semi-bold m-t-30 m-b-10" style="font-size: 28px;font-weight: 500;">
                        {{'component.billing-history.receipt' | translate}}
                    </h5>
                    <h5 ng-if="$ctrl.bill.type === 'invoice'" class="semi-bold m-t-30 m-b-10" style="font-size: 28px;font-weight: 500;">
                        {{'component.billing-history.invoice' | translate}}
                    </h5>
                </div>
                <div class="modal-body">
                    <fieldset> <!-- ng-disabled="$ctrl.disableForm"-->
                        <form  name="paymentForm" class=" padding-30" accessible-form="" ng-submit="$ctrl.onSubmit(paymentForm)" novalidate>
                            <div class="row">
                                <div ng-if="$ctrl.supplierFlag && !$ctrl.viewMode" class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div  pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : paymentForm.payment.$invalid && !paymentForm.payment.$pristine }">
                                        <label>{{'component.record-payment.field.supplier.label' | translate}}</label>
                                        <div class="controls">
                                            <select ng-if="!$ctrl.viewMode"  ng-model="$ctrl.payment.supplierId"  name="supplierId" id="supplierId"
                                                     class="full-width" data-placeholder="Select Supplier" data-init-plugin="select2">
                                                <option value="">-- Select Supplier --</option>
                                                <option ng-repeat="supplier in $ctrl.suppliers" value="{{supplier.supplier._id}}">
                                                    {{supplier.supplier.representativeName}}
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                    <label class="error" for="supplierId" ng-show="paymentForm.payment.$invalid && !paymentForm.payment.$pristine">
                                        {{'component.record-payment.field.supplier.required' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>
                                <div ng-if="$ctrl.viewMode && $ctrl.supplierFlag" class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div pg-form-group class="form-group form-group-default">
                                        <label>{{'component.record-payment.field.supplier.label' | translate}}</label>
                                        <div class="controls">
                                            <input type="text" class="form-control" ng-model="$ctrl.payment.supplier.representativeName" readonly>
                                        </div>
                                    </div>
                                    <!-- END Form Control-->
                                </div>
                                <div ng-if="$ctrl.viewMode && $ctrl.customerFlag" class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div pg-form-group class="form-group form-group-default">
                                        <label>{{'component.record-payment.field.customer.label' | translate}}</label>
                                        <div class="controls">
                                            <input type="text"  class="form-control" ng-model="$ctrl.payment.customer.representativeName" readonly>
                                        </div>
                                    </div>
                                    <!-- END Form Control-->
                                </div>
                                <div ng-if="$ctrl.customerFlag && !$ctrl.viewMode" class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div  pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : paymentForm.customerId.$invalid && !paymentForm.customerId.$pristine }">
                                        <label>{{'component.record-payment.field.customer.label' | translate}}</label>
                                        <div class="controls">
                                            <select  name="customerId" id="customerId"  ng-model="$ctrl.payment.customerId"
                                                    class="full-width" data-placeholder="Select Customer" data-init-plugin="select2">
                                                <option value="">-- {{'component.record-payment.field.customer.placeholder' | translate}} --</option>
                                                <option ng-repeat="customer in $ctrl.customers" value="{{customer._id}}">{{customer.representativeName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label class="error" for="customerId" ng-show="paymentForm.customerId.$invalid && !paymentForm.customerId.$pristine">
                                        {{'component.record-payment.field.customer.required' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>

                                <div class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : paymentForm.amount.$invalid && !paymentForm.amount.$pristine }">
                                        <label>{{'component.record-payment.field.amount.label' | translate}}</label>
                                        <div class="controls">
                                            <input ng-readonly="$ctrl.viewMode" type="text" class="form-control" name="amount"  id="amount"
                                                   placeholder="{{'component.record-payment.field.amount.placeholder' | translate}}"
                                                   ng-model="$ctrl.payment.amount"
                                                   ng-pattern="/^\d+$/"
                                                   required>
                                        </div>
                                    </div>
                                    <label class="error" for="amount" ng-show="paymentForm.amount.$error.required && !paymentForm.amount.$pristine">
                                        {{'component.record-payment.field.amount.required' | translate}}
                                    </label>
                                    <label class="error" for="amount" ng-show="paymentForm.amount.$error.pattern && !paymentForm.amount.$pristine">
                                        {{'component.record-payment.field.amount.invalid' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>

                                <div class="col-sm-12">
                                    <div pg-form-group class="form-group form-group-default input-group"  ng-class="{ 'has-error' : paymentForm.date.$invalid && !paymentForm.date.$pristine }">
                                        <div class="form-input-group">
                                            <label>{{'component.record-payment.field.date.label' | translate}}</label>
                                            <input ng-readonly="$ctrl.viewMode" type="text" class="form-control" name="date" id="date" placeholder="{{'component.record-payment.field.date.placeholder' | translate}}" id="date"
                                                   ng-model="$ctrl.payment.date" required>
                                        </div>
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                    <label class="error" for="date" ng-show="paymentForm.date.$invalid && !paymentForm.date.$pristine">
                                        {{'component.record-payment.field.date.required' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>

                                <div class="col-sm-12">
                                    <div class="row radio radio-success">
                                        <div class="col-sm-3">
                                            <span class="bold fs-12 p-l-10"> {{'component.record-payment.field.paymentMethod.label' | translate}}</span>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="d-flex justify-content-around">
                                                <div>
                                                    <input ng-disabled="$ctrl.viewMode" type="radio" ng-model="$ctrl.payment.paymentMethod" value="Cash"  name="paymentMethod" id="cash">
                                                    <label for="cash">{{'component.record-payment.field.paymentMethod.cash' | translate}}</label>
                                                </div>
                                                <div>
                                                    <input ng-disabled="$ctrl.viewMode" type="radio" ng-model="$ctrl.payment.paymentMethod" value="Cheque" name="paymentMethod" id="cheque">
                                                    <label for="cheque">{{'component.record-payment.field.paymentMethod.cheque' | translate}}</label>
                                                </div>
                                                <div>
                                                    <input ng-disabled="$ctrl.viewMode" type="radio" ng-model="$ctrl.payment.paymentMethod" value="Bank" checked="checked" name="paymentMethod" id="bank">
                                                    <label for="bank">{{'component.record-payment.field.paymentMethod.bank' | translate}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="$ctrl.payment.paymentMethod == 'Bank'" class="row">
                                <div class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : paymentForm.transaction_id.$invalid && !paymentForm.transaction_id.$pristine }">
                                        <label>{{'component.record-payment.field.bankTransactionID.label' | translate}}</label>
                                        <div class="controls">
                                            <input ng-readonly="$ctrl.viewMode" type="text" class="form-control" name="transaction_id" id="transaction_id" placeholder="{{'component.record-payment.field.bankTransactionID.placeholder' | translate}}" ng-model="$ctrl.payment.transactionId"
                                                   required>
                                        </div>
                                    </div>
                                    <label class="error" for="transaction_id" ng-show="paymentForm.transaction_id.$invalid && !paymentForm.transaction_id.$pristine">
                                        {{'component.record-payment.field.bankTransactionID.required' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>

                                <div class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div pg-form-group class="form-group form-group-default"  ng-class="{ 'has-error' : paymentForm.account_number.$invalid && !paymentForm.account_number.$pristine }">
                                        <label>{{'component.record-payment.field.bankAccountNumber.label' | translate}}</label>
                                        <div class="controls">
                                            <input ng-readonly="$ctrl.viewMode" type="text" class="form-control" name="account_number" id="account_number" placeholder="{{'component.record-payment.field.bankAccountNumber.placeholder' | translate}}"
                                                   ng-model="$ctrl.payment.accountNumber"
                                                   required>
                                        </div>
                                    </div>
                                    <label class="error" for="account_number" ng-show="paymentForm.account_number.$invalid && !paymentForm.account_number.$pristine">
                                        {{'component.record-payment.field.bankAccountNumber.required' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>

                                <div class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div pg-form-group class="form-group form-group-default"  ng-class="{ 'has-error' : paymentForm.account_name.$invalid && !paymentForm.account_name.$pristine }">
                                        <label> {{'component.record-payment.field.accountHolderName.label' | translate}}</label>
                                        <div class="controls">
                                            <input ng-readonly="$ctrl.viewMode" id="account_name" type="text" class="form-control" name="account_name" placeholder="{{'component.record-payment.field.accountHolderName.placeholder' | translate}}" ng-model="$ctrl.payment.accountName"
                                                   required ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-_\. ]*$/">
                                        </div>
                                    </div>
                                    <label class="error" for="account_name" ng-show="paymentForm.account_name.$error.required && !paymentForm.account_name.$pristine">
                                        {{'component.record-payment.field.accountHolderName.required' | translate}}
                                    </label>
                                    <label class="error" for="account_name" ng-show="paymentForm.account_name.$error.pattern && !paymentForm.account_name.$pristine">
                                        {{'component.record-payment.field.accountHolderName.invalid' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>
                            </div>

                            <div ng-if="$ctrl.payment.paymentMethod == 'Cheque'" class="row">
                                <div class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div pg-form-group class="form-group form-group-default"  ng-class="{ 'has-error' : paymentForm.chequeRecipientName.$invalid && !paymentForm.chequeRecipientName.$pristine }">
                                        <label>{{'component.record-payment.field.chequeRecipientName.label' | translate}}</label>
                                        <div class="controls">
                                            <input ng-readonly="$ctrl.viewMode" type="text" class="form-control" name="chequeRecipientName" id="chequeRecipientName"
                                                   placeholder="{{'component.record-payment.field.chequeRecipientName.placeholder' | translate}}" ng-model="$ctrl.payment.recipientName"
                                                   required
                                                   ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-_\. ]*$/">
                                        </div>
                                    </div>
                                    <label class="error" for="chequeRecipientName" ng-show="paymentForm.chequeRecipientName.$error.required && !paymentForm.chequeRecipientName.$pristine">
                                        {{'component.record-payment.field.chequeRecipientName.required' | translate}}
                                    </label>
                                    <label class="error" for="chequeRecipientName" ng-show="paymentForm.chequeRecipientName.$error.pattern && !paymentForm.chequeRecipientName.$pristine">
                                        {{'component.record-payment.field.chequeRecipientName.invalid' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>

                                <div class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : paymentForm.chequeNumber.$invalid && !paymentForm.chequeNumber.$pristine }">
                                        <label> {{'component.record-payment.field.chequeNumber.label' | translate}}</label>
                                        <div class="controls">
                                            <input ng-readonly="$ctrl.viewMode" type="text" class="form-control" name="chequeNumber" id="chequeNumber" placeholder="{{'component.record-payment.field.chequeNumber.placeholder' | translate}}"
                                                   ng-model="$ctrl.payment.chequeNumber"
                                                   required>
                                        </div>
                                    </div>
                                    <label class="error" for="chequeNumber" ng-show="paymentForm.chequeNumber.$invalid && !paymentForm.chequeNumber.$pristine">
                                        {{'component.record-payment.field.chequeNumber.required' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>
                            </div>

                            <div ng-if="$ctrl.payment.paymentMethod == 'Cash'" class="row">
                                <div class="col-sm-12">
                                    <!-- START Form Control-->
                                    <div pg-form-group class="form-group form-group-default"  ng-class="{ 'has-error' : paymentForm.cashRecipientName.$invalid && !paymentForm.cashRecipientName.$pristine }">
                                        <label> {{'component.record-payment.field.cashRecipientName.label' | translate}}</label>
                                        <div class="controls">
                                            <input ng-readonly="$ctrl.viewMode" type="text" class="form-control" name="cashRecipientName" id="cashRecipientName" placeholder="{{'component.record-payment.field.cashRecipientName.placeholder' | translate}}"  ng-model="$ctrl.payment.recipientName"
                                                   required
                                                   ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-_\. ]*$/">
                                        </div>
                                    </div>
                                    <label class="error" for="cashRecipientName" ng-show="paymentForm.cashRecipientName.$error.required && !paymentForm.cashRecipientName.$pristine">
                                        {{'component.record-payment.field.cashRecipientName.required' | translate}}
                                    </label>
                                    <label class="error" for="cashRecipientName" ng-show="paymentForm.cashRecipientName.$error.pattern && !paymentForm.cashRecipientName.$pristine">
                                        {{'component.record-payment.field.cashRecipientName.invalid' | translate}}
                                    </label>
                                    <!-- END Form Control-->
                                </div>
                            </div>

                            <div ng-if="!$ctrl.viewMode" class="row">
                                <div class="col m-t-10 sm-m-t-10 clearfix">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-block m-t-5 " ng-disabled="paymentForm.$invalid">
                                            {{'component.record-payment.button.add' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="$ctrl.viewMode && $ctrl.payment.status === 'Pending'" class="row">
                                <div class="col m-t-10 sm-m-t-10 clearfix">
                                    <div class="pull-right">
                                        <button type="button" ng-click="$ctrl.acceptPayment($ctrl.payment._id)" class="btn btn-primary">
                                            {{'component.record-payment.button.accept' | translate}}
                                        </button>
                                    </div>
                                    <div class="pull-left">
                                        <button type="button" ng-click="$ctrl.rejectPayment($ctrl.payment._id)" class="btn btn-danger">
                                            {{'component.record-payment.button.reject' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<script>
    $('#customerId').on('select2:open',function(){
        let that = $(this);
        let flag = false;
        if ( $(window).width() > 739) {
            $(window).bind('wheel', function(e) {
                // if(!flag && e.target.className === 'select2-results__option'){
                //     // that.select2("close");
                //     console.log('scroll');
                // } else if(!flag &&  e.target.className !== 'select2-results__option'){
                //     that.select2("open");
                //     console.log('scroll');
                // }
            });
        }
        else {
            $(window).bind('wheel', function(e) {
                console.log(e.target);
                if(!flag && e.target.className === 'select2-results__option'){
                    // that.select2("close");
                    console.log('scroll');
                } else if(!flag &&  e.target.className !== 'select2-results__option'){
                    that.select2("close");
                    console.log('scroll');
                }
                else
                    flag = true;
            });
        }
    });
</script>
