<div id="failure3" ng-if="$ctrl.isFailure" class="alert alert-danger" role="alert">
    <button id="close8" class="close" data-dismiss="alert"></button>
    <strong id="error8"></strong>{{"auth.forget_password.message.failure" | translate }}
</div>

<!--<div ng-if="$ctrl.isSuccess" class="alert alert-success" role="alert">-->
<!--<button id="close9" class="close" data-dismiss="alert"></button>-->
<!--<strong id="error9"> </strong>{{"auth.forget_password.message.success" | translate }}-->
<!--</div>-->

<form ng-if="$ctrl.hideForm" id="form-login" name="forgotPasswordForm" class="p-t-15" role="form" novalidate>
    <p class="p-t-35">{{"auth.forget_password.text.forget_password_text" | translate }}</p>
    <div pg-form-group class="form-group form-group-default m-t-20"
         ng-class="{ 'has-error' : forgotPasswordForm.email.$invalid && !forgotPasswordForm.email.$pristine }">
        <label>{{"auth.forget_password.field.Email.label" | translate }}</label>
        <div class="controls">
            <input type="email"
                   placeholder='{{"auth.forget_password.field.Email.placeholder" | translate }}'
                   class="form-control"
                   ng-model="$ctrl.formData.email"
                   id="email"
                   name="email"
                   ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'
                   required/>
        </div>
    </div>
    <label id="emailInvalid" class="error" for="email"
           ng-show="forgotPasswordForm.email.$error.pattern && !forgotPasswordForm.email.$pristine">
        {{"auth.forget_password.field.Email.invalid" | translate }}
    </label>
    <label id="emailRequired" class="error" for="email"
           ng-show="forgotPasswordForm.email.$error.required && !forgotPasswordForm.email.$pristine">
        {{"auth.forget_password.field.Email.Required" | translate }}
    </label>
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary btn-cons m-t-10" id="retrieve_password" type="submit"
                    ng-click="$ctrl.forgotPassword()" ng-disabled="forgotPasswordForm.$invalid">
                {{"auth.forget_password.button.retrieve_password" | translate }}
            </button>
        </div>
        <div class="col-6">
            <div id="loading4" ng-if="$ctrl.loading" class="progress-circle-indeterminate" data-color="success"></div>
        </div>
    </div>
    <br>
    <span class="text-info small fs-16" id="backto-signin" ui-sref="app.auth.login">
        {{"auth.forget_password.link.backto" | translate }}<button class="btn btn-link p-l-5">{{"auth.forget_password.link.signin" | translate }}</button>
    </span>

</form>

<div ng-if="$ctrl.isSuccess" class="reset-success text-center" style="margin-top:100px;">
    <img src="/assets/img/sucess-icon.png" alt="">
    <h2 class="m-b-40 m-t-40 bold">Done!</h2>
    <p>
        {{"auth.reset_password.text.weSentMessageTo" | translate }}
        <span class="bold fs-16" style="color:#2fd4af;">{{$ctrl.formData.email}}</span>
        {{"auth.reset_password.text.pickPassword" | translate }}
    </p>
    <p>{{"auth.reset_password.text.notGetEmail" | translate }} <span class="bold fs-16" style="color:#2fd4af;"><a
            href="#" ng-click="$ctrl.init()">{{"auth.reset_password.text.tryAgain" | translate }}</a></span></p>
</div>


