<div class="modal fade slide-up invoice" id="view-payment" tabindex="-1" role="dialog" style="padding-left: -17px;">
    <div class="modal-dialog modal-lg" style="max-width: 900px;display:block">
        <div class="modal-content-wrapper" style="display:block">
            <div class="modal-content">
                <a class="close" href=""  data-dismiss="modal"><i class="pg-close fs-14"></i></a>
                <div ng-if="$ctrl.bill.type === 'invoice'" class="modal-body">
                    <div class="row justify-content-between m-t-20 m-b-20">
                        <div class="col-sm-6 add-gap">
                            <h2 class="semi-bold">{{'component.view-payment.invoice' | translate}}
                                <!--<span class="label label-success upper-case m-r-10 m-l-10">{{'component.view-payment.paid' | translate}}</span>-->
                            </h2>
                        </div>
                        <div class="col-sm-6 add-gap m-t-20">
                            <div class="row">
                                <div class="col-sm-4"><p class="fs-12 m-l-20"><span>{{'component.view-payment.date' | translate}}:</span></p></div>
                                <div class="col-sm-8"><span class="label upper-case m-r-20">{{$ctrl.bill.createdAt | amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><p class="fs-12 m-l-20"><span class="mn-90">{{'component.view-payment.no' | translate}}:</span></p></div>
                                <div class="col-sm-8"><span class="label upper-case m-r-20">{{$ctrl.bill.invoiceId}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                            <div class="col-sm-6 add-gap">
                                <div class="gray-box p-t-5 p-b-5 p-l-10 p-l-10">
                                    <p class="w600 no-padding no-margin text-uppercase">{{'component.view-payment.vendor' | translate}}</p>
                                    <p ng-if="$ctrl.paymentType == 'SA' || $ctrl.paymentType == 'AS'" class="no-padding no-margin">{{$ctrl.bill.supplier.representativeName}}</p>
                                    <p ng-if="$ctrl.paymentType == 'CS' || $ctrl.paymentType == 'SC'" class="no-padding no-margin">{{$ctrl.bill.customer.representativeName}}</p>
                                </div>
                            </div>
                            <div class="col-sm-6 add-gap">
                                <div class="gray-box p-t-5 p-b-5 p-l-10 p-r-10">
                                    <p class="w600 no-padding no-margin text-uppercase">{{'component.view-payment.recipient' | translate}}</p>
                                    <p ng-if="$ctrl.paymentType == 'SA' || $ctrl.paymentType == 'AS'" class="no-padding no-margin">SuppliesON.COM</p>
                                    <p ng-if="$ctrl.paymentType == 'CS' || $ctrl.paymentType == 'SC'" class="no-padding no-margin">{{$ctrl.bill.supplier.representativeName}}</p>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="dataTables_wrapper no-footer table-responsive">
                            <table class="table table-striped table-compact" role="grid">
                                <thead>
                                <tr role="row">
                                    <th class="mn-300">{{"component.view-payment.table.description" | translate }}</th>
                                    <th class="mn-90"><span ng-if="$ctrl.paymentType == 'SA' || $ctrl.paymentType == 'AS'">{{"component.view-payment.table.amount" | translate }}</span></th>
                                    <th class="mn-90"><span ng-if="$ctrl.paymentType == 'SA' || $ctrl.paymentType == 'AS'">{{"component.view-payment.table.fees" | translate }}</span>
                                        <span ng-if="$ctrl.paymentType == 'CS' || $ctrl.paymentType == 'SC'">{{"component.view-payment.table.amount" | translate }}</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in $ctrl.bill.transactions" class="gradeX odd content-table-payment" role="row">
                                    <td class="mn-300">
                                        <div  class="m-b-5">
                                            <span ng-if="item.isPaid" class="label upper-case label-success">{{'component.view-payment.paid' | translate}}</span>
                                            <span ng-if="!item.isPaid" class="label upper-case label-warning">{{'component.view-payment.notPaid' | translate}}</span>
                                            <span class="label upper-case">{{item.createdAt | amDateFormat:'DD-MM-YYYY'}}</span>
                                            <span class="label upper-case">{{item.transId}}</span>
                                        </div>
                                        <div>
                                            <span ng-if="$ctrl.paymentType == 'SA'" translate="component.view-payment.statements" translate-values="{type: 'adminFees',supplier: item.order.supplier.representativeName,customer: item.order.customer.representativeName}"></span>
                                            <span ng-if="$ctrl.paymentType == 'AS'" translate="component.view-payment.statements" translate-values="{type: 'adminFees',supplier: item.order.supplier.representativeName,customer: item.order.customer.representativeName}"></span>
                                            <span ng-if="$ctrl.paymentType == 'CS'" translate="component.view-payment.statements" translate-values="{type: 'customer'}"></span><span ng-if="$ctrl.paymentType == 'CS'">{{item.order.supplier.representativeName}}</span>
                                            <span ng-if="$ctrl.paymentType == 'SC'" translate="component.view-payment.statements" translate-values="{type: 'supplier'}"></span><span ng-if="$ctrl.paymentType == 'SC'">{{item.order.customer.representativeName}}</span>
                                        </div>
                                    </td>
                                    <td class="mn-90"><span ng-if="$ctrl.paymentType == 'SA' || $ctrl.paymentType == 'AS'">{{item.order.price + item.order.VAT | currency : "" : 2}} <small>{{"component.view-payment.sar" | translate }}</small></span></td>
                                    <td class="mn-90" ng-init="$ctrl.calculateTransaction(item)">
                                        <span ng-if="$ctrl.paymentType == 'SA' || $ctrl.paymentType == 'AS'">{{item.transactionSupplierFees | currency : "" : 2}}</span>
                                        <span ng-if="$ctrl.paymentType == 'CS' || $ctrl.paymentType == 'SC'">{{item.order.price | currency : "" : 2}}</span>
                                        <small>{{"component.view-payment.sar" | translate }}</small>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr role="row">
                                        <td class="no-border"></td>
                                        <td class="text-right">{{"component.view-payment.table.subtotal" | translate }}</td>
                                        <td>{{$ctrl.bill.subTotal | currency : "" : 2}} <small>{{"component.view-payment.sar" | translate }}</small></td>
                                    </tr>
                                    <tr role="row">
                                        <td class="no-border"></td>
                                        <td class="text-right">{{"component.view-payment.table.vat" | translate }}</td>
                                        <td>{{$ctrl.bill.VAT | currency : "" : 2}} <small>{{"component.view-payment.sar" | translate }}</small></td>
                                    </tr>
                                    <tr role="row">
                                        <td class="no-border"></td>
                                        <td class="text-right bold">{{"component.view-payment.table.total" | translate }}</td>
                                        <td class="bold">{{$ctrl.bill.total  | currency : "" : 2}} <small>{{"component.view-payment.sar" | translate }}</small></td>
                                    </tr>
                                </tfoot>
                            </table>

                            <list-pagination total-pages="$ctrl.billingHistoryQuery.totalPages" on-page-click="$ctrl.setBillingHistoryPage(pageNumber)" current-page="$ctrl.billingHistoryQuery.currentPage"></list-pagination>
                        </div>

                    </div>

                </div>
                <div ng-if="$ctrl.bill.type === 'credit'" class="modal-body">
                    <div class="row justify-content-between m-t-20 m-b-20">
                        <div class="col-sm-6 add-gap">
                            <h2 class="semi-bold">{{'component.view-payment.receipt' | translate}}</h2>
                        </div><!--{{$ctrl.bill}}-->
                        <div class="col-sm-6 add-gap m-t-20">
                            <div class="row">
                                <div class="col-sm-4"><p class="fs-12 m-l-20"><span>{{'component.view-payment.date' | translate}}:</span></p></div>
                                <div class="col-sm-8"><span class="label upper-case m-r-20">{{$ctrl.bill.date | amUtcOffset:'-0000' | amDateFormat:'DD-MM-YYYY'}}</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><p class="fs-12 m-l-20"><span class="mn-90">{{'component.view-payment.no' | translate}}:</span></p></div>
                                <div class="col-sm-8"><span class="label upper-case m-r-20">{{$ctrl.bill.transId}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-10">
                        <div class="col-sm-12">
                            <h6>
                                <span class="no-padding no-margin">{{'component.view-payment.receiptFrom' | translate}}:</span>
                                <span class="w600 no-padding no-margin">{{$ctrl.bill.from}}</span>
                            </h6>
                        </div>
                        <div class="col-sm-12" style="min-height: 20px">
                            <div class="bg-master-lightest p-t-5 p-b-5 p-l-10 p-l-10">
                                <h5>
                                    <span ng-if="$ctrl.bill.paymentMethod == 'Cheque'">{{'component.view-payment.cheque' | translate}}#[{{$ctrl.bill.chequeNumber}}]</span>
                                    <span ng-if="$ctrl.bill.paymentMethod == 'Cash'">{{'component.view-payment.cash' | translate}}{{$ctrl.bill.recipientName}}</span>
                                    <span ng-if="$ctrl.bill.paymentMethod == 'Bank'">{{'component.view-payment.bank1' | translate}}{{$ctrl.bill.accountName}} <span dir="ltr">[ {{$ctrl.bill.accountNumber}} ]</span> {{'component.view-payment.bank2' | translate}}{{$ctrl.bill.transId}}</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-sm-12" style="min-height: 20px">
                            <h6>
                                <span class="no-padding no-margin">{{'component.view-payment.receiptTo' | translate}}:</span>
                                <span class="w600 no-padding no-margin">{{$ctrl.bill.to}}</span>
                            </h6>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-sm-9 add-gap">
                        </div>
                        <div class="col-sm-3 add-gap">
                            <div class="bg-master-lightest p-t-5 p-b-5 p-l-10 p-r-10">
                                <p class="w600 no-padding no-margin text-uppercase">{{'component.view-payment.table.amount' | translate}}</p>
                                <h2 class="w600 no-padding no-margin"> {{$ctrl.bill.amount | currency : "" : 2}} <small>{{"component.view-payment.sar" | translate }}</small></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
</div>
