<div class="modal fade slide-up disable-scroll" id="resetPasswordModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button ng-click="$ctrl.resetForm(resetPasswordForm)" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="pg-close fs-14"></i>
                </button>
                <h5><span class="semi-bold">{{"component.reset_password.text.reset_password" | translate}}</span></h5>
                <p></p>

            </div>
            <div class="modal-body">
                <form role="form" novalidate name="resetPasswordForm" ng-submit="$ctrl.resetPassword(resetPasswordForm)" accessible-form>
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 m-b-10">
                                <div class="form-group form-group-default"
                                     ng-class="{ 'has-error' : resetPasswordForm.newPassword.$invalid && !resetPasswordForm.newPassword.$pristine }">
                                    <label for="newPassword">{{"component.reset_password.field.new_password.label" | translate}}</label>
                                    <input ng-model="$ctrl.newPassword" name="newPassword" id="newPassword" type="password" class="form-control"
                                           ng-pattern="/[a-zA-Z@#_-]+[0-9]+[a-zA-Z0-9@#_-]*|[0-9]+[a-zA-Z@#_-][a-zA-Z0-9@#_-]*/"
                                           required maxlength="20" minlength="6">
                                </div>
                                <div class="error" ng-messages="resetPasswordForm.newPassword.$error">
                                    <span ng-message="required" ng-if="!resetPasswordForm.newPassword.$pristine">
                                    {{"component.reset_password.field.new_password.required" | translate}}
                                    </span>
                                    <span ng-message="pattern || minlength || maxlength" ng-if="!resetPasswordForm.newPassword.$pristine">
                                      {{"component.reset_password.field.new_password.invalid" | translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-12 m-b-10">
                                <div class="form-group form-group-default"
                                     ng-class="{ 'has-error' : resetPasswordForm.confirmPassword.$invalid && !resetPasswordForm.confirmPassword.$pristine }">
                                    <label for="confirmPassword">{{"component.reset_password.field.confirm_password.label" | translate}}</label>
                                    <input ng-model="$ctrl.confirmPassword" name="confirmPassword" id="confirmPassword" type="password" class="form-control"
                                           ng-pattern="/[a-zA-Z@#_-]+[0-9]+[a-zA-Z0-9@#_-]*|[0-9]+[a-zA-Z@#_-][a-zA-Z0-9@#_-]*/"
                                           compare-to="$ctrl.newPassword" required>
                                </div>
                                <div class="error" ng-messages="resetPasswordForm.confirmPassword.$error">
                                    <span ng-message="required" ng-if="!resetPasswordForm.confirmPassword.$pristine">
                                      {{"component.reset_password.field.confirm_password.required" | translate}}
                                    </span>
                                    <span ng-message="pattern" ng-if="!resetPasswordForm.confirmPassword.$pristine">
                                        {{"component.reset_password.field.confirm_password.pattern" | translate}}
                                    </span>
                                    <span ng-message="compareTo" ng-if="!resetPasswordForm.confirmPassword.$pristine">
                                       {{"component.reset_password.field.confirm_password.invalid" | translate}}
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-4 offset-md-4 m-t-10 sm-m-t-10 text-center">
                                <button type="submit"   class="btn btn-primary btn-block m-t-5" ng-disabled="resetPasswordForm.$invalid">{{'component.reset_password.button.reset_password' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!-- /.modal-dialog -->
</div>

