<div class="input-daterange input-group" id="datepicker-range">
    <div class="input-group-addon" style="min-width: 40px;">{{'component.daterange.from' | translate}}</div>
    <input type="text" class="input-sm form-control" id="startDate" value="{{$ctrl.startDate}}" ng-model="$ctrl.startDate" name="start" />
    <div class="input-group-addon" style="min-width: 40px;">{{'component.daterange.to' | translate}}</div>
    <input type="text" class="input-sm form-control" id="endDate" value="{{$ctrl.endDate}}"  ng-model="$ctrl.endDate" name="end" />
</div>